.watch {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.about {
    flex-basis: 40%;
}

.Video {
    position: relative;
}

.Video img {
    width: 468px;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.videoSrc {
    position: absolute;
    width: 291.5px;
    height: 180px; /* Adjust as necessary to fit the video within the screen */
    overflow: hidden;
    top: 33.2%;
    left: 49.8%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    /* z-index: 2; */
}

.videoSrc video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*-----------media query----------*/

@media (max-width: 1030px) {
    .Video video {
        right: 13.5%;
    }
}

@media (max-width: 960px) {
    .watch {
        flex-direction: column;
        text-align: center;
    }
    .about h2 {
        font-size: 2rem;
    }
    .about p {
        font-size: 1.125rem;
    }
    .Video img {
        width: 640px;
    }
    .videoSrc {
        width: 400px;
        height: 250px;
        top: 30%;
        left: 49.6%;
    }
}

@media (max-width: 720px) {
    .Video img {
        max-width: 100%;
        max-height: 54%;
    }
    .videoSrc {
        max-width: 64%;
        max-height: 54%;
        top: 34.3%;
    }
}
